/* #ctd {
    height: 50px;
    width: 80px;
    border: 2px solid red;
}

#scr {
    height: 50px;
    width: 50px;
    border: 2px solid red;
} */

#name {
    width: 50px;
    height: 50px;
    border: 2px solid red;

}